[Desktop Entry]
Categories=Qt;KDE;Utility;Calculator;X-KDE-Utilities-Desktop;
Comment=Calculator which offers many mathematical functions, such as trigonometric functions, logic operations, and statistical calculations
Exec=kcalc
GenericName=KCalc Scientific Calculator
Icon=accessories-calculator
Name=Calculator
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kcalc.desktop
X-DocPath=kcalc/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
