[Desktop Action NewNote]
Exec=knotes
Icon=mail-message-new
Name=New Note

[Desktop Entry]
Actions=NewNote
Categories=Qt;KDE;Utility;TextTools;X-KDE-Utilities-Desktop;
Comment=
Exec=knotes
GenericName=KNotes
Icon=knotes
Name=Popup Notes
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.knotes
X-DBUS-StartupType=Unique
X-DocPath=knotes/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
