[Desktop Entry]
Categories=Qt;KDE;Graphics;Office;Viewer;
Comment=Universal document viewer
Exec=okular %U
GenericName=Okular
Icon=okular
InitialPreference=7
MimeType=application/vnd.kde.okular-archive;
Name=Document Viewer
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=okular
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.okular
X-DocPath=okular/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
