[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment=KDE Text Editor
Exec=kwrite %U
GenericName=KWrite
Icon=kwrite
InitialPreference=8
MimeType=text/plain;
Name=Text Editor
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=kwrite
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kwrite
X-DBUS-StartupType=Multi
X-DocPath=kwrite/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
