[Desktop Entry]
Categories=Qt;KDE;AudioVideo;
Comment=Use your webcam to take pictures or make videos
Exec=kamoso -qwindowtitle %c
GenericName=Kamoso
Icon=kamoso
Name=Camera
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DocPath=kamoso/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
